

#header {

 background-image:url("./biryani.jpg");
    background-size: cover;
background-repeat:  no-repeat;
background-position: centre;
background-attachment: fixed;
margin: O;
padding: 50px;
border : 3px solid red;
}
overlay {
    background-color: rgba(255,255,255,0.6);/*white with transparency*/
    color : blue;
    padding :0px;
    margin : 0px;
    text-align: centre;

}
section{
    background-color: white;
    padding: 20px;
    margin-bottom: 35px;
    border-radius: 6px;


}
.content{
    border:2px violet solid;
    margin: 5px;
    padding: 10px;

}
.left{
    float:left;
    width: 30%; 
}
.right{
    float: right;
    width: 30%;
    padding-right: 0px;
    margin-right: 0px;

}

p.box{
    margin-right: 0px;
    padding-right: 0px;
}